VITE_API_URL=http://localhost:8000/api/v1
VITE_DEFAULT_LANGUAGE=en
VITE_DEMO_PROJECT_ID=6f3ef140-e6b9-4d6b-915f-74080c804208
VITE_ENABLE_VOICE=true
VITE_ENABLE_MOCK_VERIFICATION=true
VITE_MOCK_IDENTITY_URL=http://localhost:8001/api/v1
