VITE_API_URL=http://localhost:8000/api/v1
VITE_DEFAULT_LANGUAGE=en
VITE_DEMO_PROJECT_ID=e4d7eeb5-50f8-4a67-9c44-477d121f765d
VITE_ENABLE_VOICE=true
VITE_ENABLE_MOCK_VERIFICATION=true
VITE_MOCK_IDENTITY_URL=http://localhost:8001/api/v1
